.root {
  display: flex;
  justify-content: center;

  height: 0;
  overflow-y: auto;
}

.listWrapper {
  padding: 32px;
  min-height: min-content;
}

.list {
  width: 420px;

  & > *:not(:last-child) {
    margin-bottom: 32px;
  }
}
