.item {
  padding: 10px 16px;
  padding-right: 48px;
  position: relative;

  &:hover {
    background: var(--color-gray-50);
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-gray-100);
  }

  &.selected {
    background: var(--color-olive-100);
  }
}

.checkIcon {
  font-size: 24px;
  color: var(--color-gray-500);

  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.label {
  font-size: 14px;
  color: var(--color-gray-900);
}
