.tag {
  display: inline-block;

  padding: 2px 16px;

  background: var(--tag-color);
  border-radius: 7px;

  font-family: 'Montserrat', sans-serif;
  color: white;
}

.smallSize {
  font-size: 12px;
}

.mediumSize {
  font-size: 14px;
}
