.item {
  box-sizing: border-box;

  width: 300px;
  max-width: 380px;

  padding: 32px;

  border: 1px solid var(--color-gray-300);

  flex-grow: 1;
}

.title {
  font-weight: 600;
  font-size: 20px;

  margin-bottom: 4px;
}

.subtitle {
  color: var(--color-olive-500);
  font-weight: 500;

  margin-bottom: 16px;
}

.brigadeName {
  font-weight: 600;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.volunteerName {
  font-weight: 600;
}

.volunteer {
  margin-bottom: 16px;
}

.description {
  margin-bottom: 16px;
}
