.root {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
}

.button {
  font-size: 0;
}

.icon {
  font-size: 24px;
}

.input {
  font-size: inherit;
  font-family: inherit;
  outline: none;

  flex-basis: 0;
  min-width: 0;
  flex-grow: 1;
  width: 150px;

  border: 1px solid transparent;
  border-radius: 4px;
  padding: 4px 8px;

  &:focus {
    border-color: var(--color-olive-500);
  }
}
