.container {
  background: var(--color-gray-50);
  border: 1px solid var(--color-gray-100);
  border-radius: 4px;

  &:not(.noPadding) {
    padding: 16px;
  }

  &.underTabs {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
  }
}
