@use 'sass:meta';
@use '@/assets/colors' as colors;

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;

  @each $color-name, $color-shades in colors.$definitions {
    @if meta.type-of($color-shades) == map {
      @each $color-shade-name, $color-shade in $color-shades {
        --color-#{$color-name}-#{$color-shade-name}: #{$color-shade};
      }
    } @else {
      --color-#{$color-name}: #{$color-shades};
    }
  }
}

button {
  padding: 0;
  border: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}
