@use 'sass:map';
@use '@/assets/colors' as colors;

.root {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;

  padding: 60px;

  overflow: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(map.get(map.get(colors.$definitions, 'gray'), '900'), 0.6);
}
