.userBlock {
  display: flex;
  align-items: center;

  gap: 8px; 

  padding: 0;
  line-height: 0;
  border: none;
  background: transparent;

  font-family: inherit;
  font-size: 14px;
  color: var(--color-gray-900);
}
